<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-speedata-flashlight"
    version="1.0.0">
    
	<name>Hello</name>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<asset src="www/speedata-flashlight.js" target="js/speedata-flashlight.js"/>

	<js-module src="www/speedata-flashlight.js" name="SpeedataFlashlight">
		<clobbers target="SpeedataFlashlight" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SpeedataFlashlight">
				<param name="android-package" value="com.elementweb.cordova.plugin.speedata.flashlight"/>
			</feature>
		</config-file>
		<source-file src="src/android/SpeedataFlashlight.java" target-dir="src/com/elementweb/cordova" />
  </platform>
</plugin>