<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-speedata-flashlight"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/SpeedataFlashlight.js" target="js/SpeedataFlashlight.js"/>

  <js-module src="www/SpeedataFlashlight.js" name="SpeedataFlashlight">
    <clobbers target="SpeedataFlashlight" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SpeedataFlashlight">
        <param name="android-package" value="com.elementweb.cordova.plugin.speedata.flashlight.SpeedataFlashlight"/>
      </feature>
    </config-file>

    <source-file src="src/android/SpeedataFlashlight.java" target-dir="src/com/elementweb/cordova-plugins/speedata-flashlight"/>
  </platform>


</plugin>